#header{
display: flex;
justify-content: space-around;
background-color: aqua;
top: 0;
width: 100vw;
list-style: none;
}

#footer{
  display: flex;
  justify-content: space-around;
  background-color: aqua;
  position: fixed;
  bottom: 0;
  width: 100vw;
  }
  #catindex{
    padding-top: 4em;
    background-color:red;
    height: 40vh;
    width: 100vw;
  }

  #notHome{
    padding-top: 4em;
    background-color:red;
    height: 40vh;
    width: 100vw;
  }

  .card {
    margin: 2rem 0;
  }
  
  .cat-index-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }