#header{
display: flex;
justify-content: space-around;
background-color: aqua;
position: fixed;
top: 0;
width: 100vw;
list-style: none;
}

#footer{
  display: flex;
  justify-content: space-around;
  background-color: aqua;
  position: fixed;
  bottom: 0;
  width: 100vw;
  }
  #catindex{
    padding-top: 4em;
    
    background-color:red;
    height: 40vh;
    width: 100vw;
  }

  #notHome{
    padding-top: 4em;
    
    background-color:red;
    height: 40vh;
    width: 100vw;
  }